.git
.gitattributes
.gitignore
.github
.env
.env.*
node_modules
vendor
npm-debug.log
/public/build
/public/hot
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
database/*.sqlite
database/*.sqlite-journal
tests
.DS_Store
README.md
